body {
  background-image: linear-gradient(to right, #E9DBE9, #CA9DB7);
}

nav {
  height: 20vh;
  width: 100%;
  color: black;
}

.navitems {
  display: block;
  text-align: center;
  
}

.navitems h2 {
  font-size: 50px;
  color: #29467C;
  text-align: center;
}

.navitems button {
  color: #E9DBE9;
  width: 10%;
  height: 10vh;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #29467C;
  font-family: serif;
  font-size: 20px;
  margin: auto 0px;
}

.fetchbtn:hover {
  background-color: #6B71B8;
}

.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-image: black
}

#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.name:hover {
  color: #FEE3EC;
}

/* .email:hover{
  color: #FEE3EC;
} */

.avatar {
  border-radius: 30%;
}

.profile {
  border-radius: 5%;
  background-image: linear-gradient(to right, #29467c, #6B71B8);
  margin: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  opacity: 0.7;
  margin-top: 4vh;
  margin-bottom: 8vh ;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: large;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: double;
  padding:15em 0 0 0;
}

.button {
  font-size: large;
}
